<%= form_for @foodproduct do |f| %>

	<div class="field">
		<%=f.label :food_name %><br />
		<%=f.text_field :food_name %>
		<%=f.label :company_name %>
		<%=f.text_field :company_name %>
	</div>
	<div id="components">
	<%= f.fields_for :components do |component| %>
		<%= render 'component_fields', :f => component %>
	<% end %>
	</div>
	<div id="companies">
	<%= f.fields_for :company do |company| %>
		<%= render 'company_fields', :f => company %>
	<% end %>
	</div>
	<div class="links">
	<%= link_to_add_association 'add component', f, :components %>
	<%= link_to_add_association 'add company', f, :company %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
